* {
  margin: 0;
  font-family: "Karla", sans-serif;
  
}

.blob1 {
  position: fixed;
  right: 0;
  top: 0;
}

.blob2 {
  position: fixed;
  bottom: 0;
}

.triviaStart {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triviaStart h1 {
  font-size: 48px;
}

.triviaStart button {
  margin-top: 60px;
  height: 65px;
  width: 250px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #4D5B9E;
  color: white;
  font-size: 28px;
}

.triviaStart button:hover {
  box-shadow: inset 0 0 10px black;
  font-size: 30px;
}

img {
  z-index: -1;
}

.triviaMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.question {
  font-size: 26px;
  font-weight: 700;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
  color: #293264;
}

.buttons {
  border-bottom: 2px solid #DBDEF0;
  width: 70%;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.choices {
  height: 50px;
  width: 250px;
  cursor: pointer;
  font-weight: 700;
  color: #293264;
  border-color: #4D5B9E;
  background-color: white;
  border-radius: 14px;
  font-size: 12pxrem;
  padding: 0 10px;
}

.choices:hover {
  box-shadow: inset 0 0 3px black;
  font-size: 12px;
}

.main {
  margin: 80px 0 0 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.bottom h3 {
  text-align: center;
  margin-bottom: 10px;
}

.check {
  width: 250px;
  height: 80px;
  margin: 0 auto;
  background-color: #4D5B9E;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  
}

.check:hover {
  box-shadow: inset 0 0 10px black;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .question {
    font-size: 14px;
  }

  .choices {
    font-size: 12px;
    margin: 2px 5px;
    border-radius: 4px;
  }
  .buttons {
    height: 150px;
    justify-content: center;
    align-items: center;
  }
  .choices:hover {
    box-shadow: inset 0 0 3px black;
    font-size: 12px;
  }
  img {
    z-index: -1;
  }

  .blob1 {
    position: fixed;
  }

  .blob2 {
    position: fixed;
    
  }

  .triviaStart h1 {
    font-size: 26px;
  }


  .buttons {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .main {
    margin: 0;
  }

  


  



  



  
}

